@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gaegu&family=Manrope:wght@200..800&family=The+Girl+Next+Door&display=swap');

.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Neue", sans-serif;
    background-color: #ffe7c18a;
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #f4d0958a;
    color: #5a4119fe;
    align-items: center;
}

#logo-img {
    height: 115px;
    width: 115px;
    border-radius: 100px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #5a4119fe;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;

}

#links a:hover {
    border-bottom: 3px solid #5a4119fe;
    color: #5a4119fe;
    transform: scale(1.1);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color:#ffe7c18a ;
    margin: 20px;
}

#carousel img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

#main-new {
    width: 70%;
    background-color: #f6b5b8;
    margin: 20px auto;
    padding: 20px;
}

#aside {
    width: 28%;
    background-color:  #b6e9e9;
    margin: 20px;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
}