@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gaegu&family=Manrope:wght@200..800&family=The+Girl+Next+Door&display=swap');

.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Neue", sans-serif;
    background-color: #ffe7c18a;
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 150px;
    background-color: #fadeb08a;
    color: #5a4119fe;
    align-items: center;
}

#logo-img {
    height: 115px;
    width: 115px;
    border-radius: 100px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #5a4119fe;
    font-size: 1.2rem;
}